/* tablet */
.header {display: none;}
/* header. nav.*/
.header_1 {
    display: flex;
    position: absolute;
    text-align: left;
    width: 100%;
    height: 50px;
    transition: 0.2s;
}
.header_1 > .nav_1 {
    width: 100%;
}
.header_1 > .nav_1 > .gup_1 {
    display: none;
}
.header_1 > .nav_1 > .gup_1 > li {
    display: flex;
    background-color: white;
}
.header_1 > .nav_1 > .gup_1 > li > a {
    padding: 20px 0;
    font-size: 17px;
    font-weight: bold;
    text-indent: 20px;
    color: gray;
    text-transform: capitalize;
    z-index: 20;
}
.header_1 > .nav_1 > .gup_1 > li > a:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.header_1 svg {
    position: absolute;
    display: block;
    right: 10px;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    z-index: 30;
}


/* section_01. */
.section_01 {
    position: relative;
    display: flex;
}
.section_01 .video_star {
    position: static;
    width: 100%;
    height: auto;
    z-index: -1;
}
.main_title {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 7vw;
    white-space : nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    color: #fff;
    position: absolute;
}



/* section_02. */
.section_02 {
    padding: 120px 0;
    background-color: aliceblue;
}
.list, .table {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
}
.list {
    margin-bottom: 30px;
}
.section_02 p {
    position: relative;
    top: 10px;
    left: 10px;    
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
.list li {
    font-size: 19px;
    text-indent: 20px;
    margin: 30px 0 0 0;
}
.list li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.list li:first-child {
    margin-top: 30px;
}
.section_02 img {
    width: 40px;
    position: relative;
    top: 18px;
    left: 15px;
}
.table table {
    padding: 30px;
    width: 80%;
}
.table tr td{
    padding: 10px 0; 
}
.table th {
    width: 150px;
    text-align: left;
}

.table td:hover {
    cursor: pointer;
    color: rgb(151, 151, 172);
    text-decoration: underline;
}




/* section_03. */
.section_03 {
    padding: 100px 0;
    width: 100%;
    height: 700px;
    background-color: white;
    
    overflow: hidden;
}
.section_03 img {
    filter: blur(3px);
    height: 33%;
}
.movingImage {
    animation: moveRight 20s infinite;
  }
.section_03 h1, .section_04 h1 {
    height: 33%;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    top: 13%;
    color: #000;
    position: relative;
}
@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1000px); /* 이동할 거리를 조절할 수 있습니다. */
    }
}



/* section_04. */
.section_04 {
    position: relative;
    width: 100%;
    height: 524px;
    background-color: aliceblue;
    padding-bottom: 100px;
}
.cycle-slideshow {
    width: 250px;
    position: relative;
}
.cycle-slideshow img {
    width: 250px;
    height: 350px;    
}





/* section_05. */
.section_05 {
    position: relative;
    width: 100%;
    height: 524px;
}
.section_05 .main_title {
    color: transparent;
    background-image: url("https://i.namu.wiki/i/PcG3UPFO3VKS05FjZvX5GWex7XWckffFkxJiHT_zxqLvhCNViI6f1saFZIYn_h1w9O6X8IyBJUi1pHwypTNljK_S2H28EbkOGNdvN4XwPRn-xoHyw9cMAoWX838x2MCPXn2BKLeDVTYylwTFgGw3vQ.webp");
    background-clip: text; 
    -webkit-background-clip: text;
    text-align: center;
    font-weight: 900;
    font-size: 75px;
}



/* footer. */
.footer {
    background-color: grey;
    text-align: center;
    padding: 50px;
}



@media all and (min-width:900px) {

    .header_1 {display: none;}

    .header {display: block;}

    .nav {
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 1;
        transition: background-color 0.2s;
    }
      
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
      
    .nav a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color:white;
        font-size: 20px;
        transition: color 0.2s;
    }
    .nav li {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        width: 20%;
        text-align: center;
        
        top: 12px;
    }
    .nav:hover {
        background-color: rgba(255, 255, 255);
    }
    .nav:hover a{
        color: gray;
    }
    .nav a:hover {
        color: black;
    }


.section_02 {
    position: relative;
    width: 100%;
    height: 790px;
    order: 1;
}

.list {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 50%;
}
.table {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 50%;
}

.section_04 {
    background-color: rgb(255, 255, 255);
    width: 35%;
    order: 2;
    position: relative;
    border-radius: 30px;
    height: 580px;
    top: -1420px;
    right: -60%;
}

.section_03 {
    padding-bottom: 0;
}
.section_05 {
    position: relative;
    top: -275px;

    margin-top: -200px;
    margin-bottom: -200px;
}
.main_title {
    font-size: 90px;
}
}